body {
    background-image: url('../images/bits_font_blanc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.8;
}

.centre-image {
    margin-left: 20%;
}

.princip {
    background-image: url('../images/kerckoffs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5%;
    padding:20%;
}

button {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
}

a {
    font-size: 20px;
    text-decoration:none;
    color: rgb(104, 141, 141);
}

a:hover {
    color: rgb(255, 255, 255);
}
