body {
    background-color: rgb(179, 179, 179);
}

#bloc_sasie {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    border: medium inset rgb(5, 5, 5);
    background-color: rgb(255, 255, 255);
    margin: 10%;
    padding: 10%;
    padding-bottom: 5%;
    padding-top: 5%;

}

.saisie {
    height: 50px;
    width: 500px;
}

.title {
    text-align: center;
    margin-top: 0px;
    font-size: 80px;
    margin-left: 0;
    font-family: 'Comic Sans MS', serif;
}

#bouton-connectElement {
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-family: 'Comic Sans MS', serif;
    color:white;
    background-color: aqua;
    
}
#bouton-connectElement:hover {
    color:aqua;
    background-color:white; 
}
#bouton-connect {
    text-align: center;
}

a {
    text-decoration:none;
    color: rgb(104, 141, 141);
}

a:hover {
    color: rgb(255, 255, 255);
}

#p {
    color: rgb(104, 141, 141) ;
    font-size: 30px;
    font-family: 'Comic Sans MS', serif;
    text-align: center;
    text-align: left;
    
}

.incorect {
    text-align: center;
    color: red;
    font-size: 25px ;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-eye:before {
    content: "\f06e";
}