<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/spec_cif_image.css">
        <title>coder</title>
    </head>
    <body>
        <header>
            <nav>
                <p><a href="/" >Accueil</a> / <a href="/menu_principal">Menu principal</a> / <a href="/steganographie">steganographie</a></p>
            </nav>
            <h1>CODER</h1>
        </header>
        <div class="chiffre">
        <form action="/chiffrement_images" method="post"  enctype="multipart/form-data">
            <br><br><br>
            <input enctype="multipart/form-data"  type="file" name="image1" id="images" required accept="image/">
            <button onclick="verifier()" type="submit" id="Cacher">Cacher</button> <br/><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br>
        </form>
        </div>
        <script type="text/JavaScript" src="/static/js/verification_image.js"></script>
    </body>
</html>