<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DECODER</title>
    </head>
    <body>
        <header>
            <nav>
                <p><a href="/" >Accueil</a> / <a href="/menu_principal">Menu principal</a> / <a href="/steganographie">steganographie</a></p>
            </nav>
            <h1>DECODER</h1>
        </header>
    </body>
</html>