<html>
    <head>
        <meta charset="utf-8">
        <title>Authentification</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <header>
            <p><a href="/S_inscrire" >Crée un compte</a> | <a href="/" >Accueil</a></p>
            <h1 class="title">Bienvenue</h1>
        </header>
        <div id="bloc_sasie">
            <h1 class="bloc_title">Authentification</h1>
            <form action="/Authentification" method="post">
                <br> <input class="saisie" type="text" name="identifiant" placeholder="Identifiant"> <br>
                <br> <input class="saisie" id="password" aria-label="Mot de passe" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="Mot de passe">
                </button><button type="button" onclick=afficherPassword() >
                    <i class="fa fa-eye">
                    </i>
                </button> <br>
                <br> <div id="bouton-connect" ><button id="bouton-connectElement" type="submit">Connection</button></div> <br></input>
            </form> 
            <h2 class="incorect">
                {{texte}}
            </h2>
            <script type="text/javascript" src="/static/js/affiche_password.js"></script>
        </div> 
    </body>
</html>