<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/menu_principale.css">
        <title>Menu principale</title>
    </head>
    <body>
        <header>
            <nav>
                <p><a href="/" >Accueil</a> /</p>
            </nav>
        </header>
            <div class="princip">
                <p>
                <a href="/steganographie" class="rigth"><button>Images</button></a>
                <a href="/menu_text" class="left"><button>Texte</button></a>
                </p>
            </div>
    </body>
</html>