<html>
    <head>
        <meta charset="utf-8">
        <title>Crée un compte</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    </head>
    <body>
        <header>
            <p><a id="inscription" href="/Authentification" >Connection</a> | <a href="/" >Accueil</a></p>
            <h1 class="title">Bienvenue</h1>
        </header>
        <div id="bloc_sasie">
            <h1 class="bloc_title">Crée un compte</h1>
            <form action="/S_inscrire" method="post">
                <br> <input class="saisie" type="text" name="identifiant" placeholder="Identifiant"> <br>
                <br> <input class="saisie" id="password" aria-label="Mot de passe" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="Mot de passe">
                <button type="button" onclick="afficherPassword()">
                    <i class="fa fa-eye">
                    </i>
                </button> <br>
                <br> <div id="bouton-connect" ><button id="bouton-connectElement" type="submit">Crée</button></div> <br>
            </form>
            <h2 class="incorect">
                {{text}}
            </h2> 
            <script type="text/javascript" src="/static/js/affiche_password.js"></script>
        </div>
    </body>
</html>