<!DOCTYPE html>
<html lang="fn">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/spec_cif_text.css">
        <title>CODER</title>
    </head>
    <body>
        <header>
            <nav>
                <p><a href="/" >Accueil</a> / <a href="/menu_principal">Menu principal</a> / <a href="/menu_text">RSA</a></p>
            </nav>
            <h1>CODER</h1>
        </header>
        <div class="chiffre">
            <form action="/CHIFFRER-TEXT" method="post">
                <br> <input class="saisie" id="key" aria-label="KEY" aria-required="true" autocapitalize="off" autocorrect="off" name="key" type="password" placeholder="Clefs de chiffremnt" value="">
                <button onclick=put_key() type="button" >Mettre ma clé </button> <br>
                <br> <textarea name="texte" _ngcontent-serverapp-c69="" autocomplete="off" autocapitalize="off" autofocus="" spellcheck="false" dir="auto" class="textarea ng-pristine ng-valid ng-touched" placeholder="Écrivez ou collez votre texte ici" style="font-size: 20px; line-height: 32px;">{{texte}}</textarea> <br/>
                <br> <div id="bouton-connect" ><button id="bouton-connectElement" type="submit">CODER</button></div> <br>
            </form> 
        <script>
            var input = document.getElementById('key');
            function put_key() {
                input.value = 'the key';
            }
        </script>
        </div>    
    </body>
</html>