<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/menu_chiffrement_text.css">
        <title>RSA</title>
    </head>
    <body>
        <header>
            <nav>
                <p><a href="/" >Accueil</a> / <a href="/menu_principal">Menu principal/</a></p>
            </nav>
        </header>
        <div>
            <h1>Chiffrement<br/>RSA</h1>
            <p>
                <a href="/CHIFFRER-TEXT" class="rigth"><button>CODER</button></a>
                <a href="/DECHIFFRER-TEXT" class="left"><button>DECODER</button></a>
            </p>
        </div>
    </body>
</html>